#output
{
    background:light greenyellow;
    border-ragius:10px;
    border-top:10px salmon;
    padding:10px;
    float:none;
    text-align:left;
}

#scoarBoard{
    margin-left:50px;
 color:aquamarine;
 background-color: palevioletred;
}